<div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-886537" href="#panel-element-40794">PROFESSORS</a>
              </div>

              <div id="panel-element-40794" class="panel-collapse collapse">
                <div class="panel-body">
                  Evaluate a student
                </div>
                <div class="panel-body">
                  View pending evaluations
                </div>
                <div class="panel-body">
                  View all evaluations
                </div>
              </div>
</div>