 <div class="panel panel-default">

              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-886537" href="#panel-element-508461">STUDENTS</a>
              </div>

              <div id="panel-element-508461" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= link_to 'Start an application', new_cyber_application_path(@cyber_application) %>
                </div>
                <div class="panel-body">
                  Continue an application
                </div>
                <div class="panel-body">
                  View your submission status
                </div>
              </div>
</div>